<h1>Formulario de clientes</h1>
<form [formGroup]="clientForm" class="fields-container" (submit)="onSubmit()">
  <label for="firstName">Nombre</label>
  <input autofocus id="firstName" type="text" formControlName="firstName" />
  <label for="lastName">Apellido</label>
  <input id="lastName" type="text" formControlName="lastName" />
  <label for="address">Dirección</label>
  <input id="address" type="text" formControlName="address" />
  <button type="submit" [disabled]="!clientForm.valid">
    Guardar
  </button>
</form>
