.clients-list {
  margin: auto;
  width: 80%;
  background-color: #e2d3bc;
  font-size: 1.4rem;
}

.list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  height: 8vh;
}

.list-entry td,
.list-entry th {
  flex-basis: 25%;
  text-align: center;
  vertical-align:middle;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icons-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

i {
  cursor: pointer;
}
