<h1>Lista de clientes</h1>
<table class="clients-list">
  <tr class="header list-entry">
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Dirección</th>
    <th>Borrar/Editar</th>
  </tr>
  <tr *ngFor="let client of clientsList" class="client list-entry">
    <td>{{ client.firstName }}</td>
    <td>{{ client.lastName }}</td>
    <td>{{ client.address }}</td>
    <td>
        <i class="fa fa-trash" (click)="deleteEntry(client)"> </i>
        <i class="fa fa-edit" (click)="editEntry(client)"> </i>
    </td>
  </tr>
</table>
